body {
	background: #70e0e9 url(../img/overlay.png);
	color: #fff;
}

#fablablivresp {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#fablablivresp img {
	height: 6vw;
}

#title {
	margin-top: 10vh;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
}

#title h1 {
	font-size: 8vw;
	margin: 0;	
}

#title h2 {
	font-size: 2.5vw;
	margin-top: 0;
}

#description {
	width: 60vw;
	text-align: justify;
	margin: 0 auto;
	border-bottom: 1px #efefef solid;
	padding-bottom: 30px;
	font-family: 'Share Tech Mono', monospace;
    font-size: 1.25vw;
}

#description a {
	color: inherit;
}

#infotable {
	width: 60vw;
	margin: 0 auto;
	margin-top: 35px;
	font-size: 1.25vw;
	font-family: 'Share Tech Mono', monospace;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.divTable{
	display: table;
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	text-align: center;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	border: 2px solid #70e0e9;
	display: table-cell;
	padding: 10px 10px;
	background-color:rgba(50, 50, 50, 0.2);
}

.divTableHeading {
	background-color:rgba(50, 50, 50, 0.5);
}

.divTableBody {
	display: table-row-group;
}

.column01 {
	width: 55%;
}

.column02 {
	width: 30%;
}

.column03 {
	width: 15%;
}

.yes {
	background-color: rgba(0, 180, 0, 0.3);
}

.no {
	background-color: rgba(200, 0, 0, 0.5);
}

.justification:hover {
	cursor: pointer;
}

#bg_justification {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	opacity:0;
}

.bg_justification_yes {
	background-color:rgba(100, 255, 100, 0.7);
}

.bg_justification_no {
	background-color:rgba(255, 100, 100, 0.7);
}

#box_justification {
	font-family: 'Share Tech Mono', monospace;
    font-size: 1.2vw;
    color: #333;
	position:absolute;
	top:50%;
	left: 50%;
	width: 50vw;
	opacity: 0;
	padding: 20px;
	background-color:rgba(250, 250, 250, 0.9);

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#close_justification {
	cursor: pointer;
	font-size: 1vw;
	color: #333;
	position:absolute;
	top: -5px;
	right: -5px;
	opacity: 0;
	padding: 5px;
	background-color:#F2784B;
}

@media screen and (max-aspect-ratio: 9/10){

	#fablablivresp {
		position: absolute;
		height: 6vh;
		top: 10px;
		right: 20px;
	}

	#fablablivresp img {
		height: 6vh;
	}

	#title {
		margin-top: 8vh;
	}

	#title h1 {
		font-size: 14vw;
	}

	#title h2 {
		font-size: 6vw;
	}

	#description {
		width: 85vw;
		font-size: 3.8vw;
	}

	#infotable {
		margin-top: 30px;
		width: 85vw;
		font-size: 3.8vw;
	}

	#box_justification {
		width: 70vw;
		font-size: 3.8vw;
	}

	#close_justification {
		font-size: 3vw;
	}

}