body {
	background: #70e0e9 url(../img/overlay.png);
	color: #fff;
}

#fablablivresp {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#fablablivresp img {
	height: 6vw;
}

#title {
	margin-top: 10vh;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
}

#title h1 {
	font-size: 8vw;
	margin: 0;	
}

#title h2 {
	font-size: 2.5vw;
	margin-top: 0;
}

#description {
	width: 60vw;
	text-align: justify;
	margin: 0 auto;
	border-bottom: 1px #efefef solid;
	padding-bottom: 30px;
	font-family: 'Share Tech Mono', monospace;
    font-size: 1.3vw;
}

#description a {
	color: inherit;
}

#infotable {
	width: 60vw;
	margin: 0 auto;
	margin-top: 35px;
	font-family: 'Share Tech Mono', monospace;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.divTable{
	display: table;
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	text-align: center;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	border: 2px solid #70e0e9;
	display: table-cell;
	padding: 10px 10px;
	background-color:rgba(50, 50, 50, 0.2);
}

.divTableHeading {
	background-color:rgba(50, 50, 50, 0.5);
}

.divTableBody {
	display: table-row-group;
}

.yes {
	background-color: rgba(0, 180, 0, 0.3);
}

.no {
	background-color: rgba(200, 0, 0, 0.5);
}